.about{
    display: flex;
    justify-content:space-around;
}

.about__image{
    width: 17%;
    object-fit: contain;
}

.about__description{
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: normal;
}