.Project{
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    height: 60vh;
    overflow-y: scroll;
}

.Project > section{
    width: 80vw;
    font-weight: normal;
}

.Project  iframe{
    width: 600px;
    height: 400px;
}

.Project > section > img{
    width: 600px;
}